@use '../settings/settings' as *;
@use '../settings/mixins' as *;

.page {
   position: relative;

   // .page__hero
   &__hero {
      // display: none;
      @include adaptiveValue('padding-top', 375, 200);
      @include adaptiveValue('padding-bottom', 387, 100);
   }

   // .page__history
   &__history {
      // display: none;
      @include adaptiveValue('padding-block', 105, 50);
   }

   // .page__banner
   &__banner {
      // display: none;
      @include adaptiveValue('padding-block', 135, 50);
   }

   // .page__team
   &__team {
      // display: none;
      @include adaptiveValue('padding-block', 118, 50);
   }

   // .page__work
   &__work {
      // display: none;
      @include adaptiveValue('padding-top', 140, 50);
      @include adaptiveValue('padding-bottom', 120, 50);
   }

   // .page__features
   &__features {
      // display: none;
   }

   // .page__pricing
   &__pricing {
      // display: none;
      @include adaptiveValue('padding-top', 113, 50);
      @include adaptiveValue('padding-bottom', 158, 50);
   }

   // .page__facts
   &__facts {
      // display: none;
      padding-top: toRem(50);
      @include adaptiveValue('padding-bottom', 107, 50);
   }

   &__partners {
      // display: none;
      @include adaptiveValue('padding-block', 50, 25);
   }

   // .page__banner-social
   &__banner-social {
      // display: none;
      @include adaptiveValue('padding-top', 104, 50);
      @include adaptiveValue('padding-bottom', 60, 30);
   }

   // .page__testimonials
   &__testimonials {
      // display: none;
      @include adaptiveValue('padding-top', 106, 50);
      @include adaptiveValue('padding-bottom', 198, 50);
   }

   // .page__blogs
   &__blogs {
      // display: none;
      @include adaptiveValue('padding-block', 130, 50);
   }
}
// ===========================================================================================
// -----------------------------
// hero
// -----------------------------
.hero {
   @include img-bg-cover("/src/assets/img/images/hero-img.webp");

   @media (max-width: toEm($mobile)) {
      @include overlay-gradient($opacity-start: 0.5, $opacity-end: 0.3);
   }
   // .hero__container
   &__container {}

   // .hero__content
   &__content {
      position: relative;
      @include flex-column;
      z-index: 5;

      > * {
         @include adaptiveValue('margin-bottom', 38, 20);
         &:last-child {
            margin-bottom: toRem(0);
         }
      }
   }

   // .hero__title
   &__title {
      font-family: "Sansation",sans-serif;
      @include adaptiveValue('font-size', 60, 40);
      text-align: center;
      line-height: 120%; /* 72/60 */
      color: $white;
   }

   // .hero__text
   &__text {
      font-family: "Sansation", sans-serif;
      @include adaptiveValue('font-size', 24, 18);
      letter-spacing: ls(15%);
      color: $white;
      @include adaptiveValue('margin-bottom', 58, 25);
      text-align: center;
   }

   // .hero__buttons
   &__buttons {
      display: flex;
      align-items: center;
      @include adaptiveValue('gap',32,15);
      flex-wrap: wrap;

      @media (max-width: toEm(340)) {
         .button {
            width: 100%;
         }
      }
   }
}

// ===========================================================================================
// -----------------------------
// history
// -----------------------------
.history {

   // .history__container
   &__container {
      max-width: toRem(1218) !important;
   }

   // .history__header
   &__header {
      @include adaptiveValue('margin-bottom', 54, 25);
   }

   // .history__gallery
   &__gallery {}

   // .history__advantages
   &__advantages {
      @include grid-adaptive( $size: toRem(280), $gap: toRem(61));

      @media (max-width: toEm(650)) {
        justify-items: center;
      }
   }
}

.gallery-history {
   display: grid;
   grid-template-columns: 24.242424% 47.979798% 24.242424%; /* 570/1188 */
   align-items: end;
   gap: toRem(21);
   @include adaptiveValue('margin-bottom', 80, 30);

   @media (max-width: toEm(650)) {
     grid-template-columns: auto;
   }

   // .gallery-history__wrap
   &__wrap {}

   &__image {

      width: 100%;
      height: 100%;
      object-fit: cover;
      &--small {
         aspect-ratio: 288 / 233;
      }

      &--big {
         aspect-ratio: 570 / 347;
      }
   }
}

.item-history-advant {

   // .item-history-advant__inner
   &__inner {}

   // .item-history-advant__icon
   &__icon {

      // .item-history-advant__icon--icon-heart
      &--icon-heart {}

      // .item-history-advant__icon--icon-monitor
      &--icon-monitor {}

      // .item-history-advant__icon--icon-power
      &--icon-power {}
   }

   // .item-history-advant__content
   &__content {}
}

.content-adv-history {

   // .content-adv-history__title
   &__title {}

   // .content-adv-history__text
   &__text {}
}

// ===========================================================================================
// -----------------------------
// banner
// -----------------------------
.banner {
   @include img-bg-cover("/src/assets/img/banners/banner.webp",$position:top);
   @include overlay;
   // .banner__container
   &__container {
      @include flex-column;
      @include adaptiveValue('gap', 40, 20);
   }

   // .banner__title
   &__title {
      font-family: "Sansation",sans-serif;
      color: $white;
      font-weight: 700;
      line-height: 168.75%; /* 54/32 */
      max-width: toRem(668);
      text-align: center;
      @include adaptiveValue('font-size', 32, 26);
   }

   // .banner__button
   &__button {}
}

// ===========================================================================================
// -----------------------------
// team
// -----------------------------
.team {

   // .team__container
   &__container {}

   // .team__header
   &__header {
      @include adaptiveValue('margin-bottom', 69, 30);
   }

   // .team__items
   &__items {
      @include grid-adaptive($size: toRem(230), $gap: toRem(28));

      @include hover {
         &:has(.item-team__wrap:hover) .item-team__wrap:not(:hover) {
            opacity: 0.5;
         }
      }
   }
}

// ===========================================================================================
// -----------------------------
// testimonials
// -----------------------------
.testimonials {
   @include img-bg-cover("/src/assets/img/images/bg-test.webp");

   @media (max-width: toEm($mobile)) {
     @include overlay($opacity:0.4);
   }
   // .testimonials__container
   &__container {}

   // .testimonials__header
   &__header {
      @include adaptiveValue('margin-bottom', 82, 30);
   }

   // .testimonials__body
   &__body {}

   // .testimonials__slider
   &__slider {
      margin-bottom: toRem(40);
   }
}

.slider-testimonials {
   // overflow: visible;

   // .slider-testimonials__wrapper
   &__wrapper {}

   // .slider-testimonials__slide
   &__slide {}

   // .slider-testimonials__pagination
   &__pagination {}
}

.swiper-pagination {
   &.slider-testimonials__pagination {
      @include customize-bullets($active-color: $accentOrange, $border: toRem(1), $scale-active: 1.1, $size: toRem(5));
   }
}

// ===========================================================================================
// -----------------------------
// work
// -----------------------------
.work {

   // .work__container
   &__container {
      // display: grid;
      display: flex;
      flex-direction: column;
   }

   // .work__header
   &__header {
      @include adaptiveValue('margin-bottom', 74, 40);
   }

   // .work__filter
   &__filter {}

   // .work__button
   &__button {
      align-self: center;
      @media (max-width: toEm(529)) {
        width: 100%;
      }
   }
}

.filter-work {
   @include adaptiveValue('margin-bottom', 83, 40);
   // .filter-work__menu
   &__menu {}

   // .filter-work__items
   &__items {
      @include grid-adaptive($size: toRem(250));
      // @include flexbox($wrap:wrap);

      @media (max-width: toEm($mobile)) {
        gap: toRem(10);
      }

      @media (max-width: toEm(629)) {
        flex-wrap: nowrap;
        overflow: auto;
        margin-inline: toRem(-20);
      }

      @include hover {
      //   &:has(.item-work:hover) .item-work:not(:hover) {
      //       opacity: 0.5;
      //   }
      }
   }
}

.menu-filter {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   @include adaptiveValue('gap', 67, 30);
   @include adaptiveValue('margin-bottom', 64, 30);

   // .menu-filter__item
   &__item {}

   // .menu-filter__btn
   &__btn {
      font-size: toRem(12);
      color: $black;
      line-height: 116.666667%; /* 14/12 */
      text-transform: uppercase;
      padding-block: toRem(10);
      padding-inline: toRem(20);
      transition: all 0.3s;

      @include hover {
         background-color: rgb(163, 48, 36);
         color: $white;
      }

      &.is-active {
         background-color: $accentOrange;
         color: $white;
         padding-block: toRem(10);
         padding-inline: toRem(20);
      }
   }
}

// ===========================================================================================
// -----------------------------
// features
// -----------------------------
.features {

   // .features__container
   &__container {
      display: flex;
      gap: toRem(20);
      align-items: center;

      @media (max-width: toEm(860)) {
        flex-direction: column;
      }
   }

   &__content {
      @include flex-column($align-items: flex-start);
      @include adaptiveValue('gap', 64, 30);
      flex: 1 1 50%;
   }

   // .features__image
   &__image {
      flex: 1 1 50%;
      aspect-ratio: 622 / 1100;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.top-features {
   @include flex-column($align-items:flex-start);
   @include adaptiveValue('gap', 22, 10);

   @media (max-width: toEm(370)) {
     align-items: center;
   }

   // .top-features__title
   &__title {
      @include adaptiveValue('font-size', 36, 28);
      font-weight: 700;
      line-height: 119.444444%; /* 43/36 */
      color: $black;

      @media (max-width: toEm(370)) {
        text-align: center;
      }
   }

   // .top-features__text
   &__text {
      font-size: toRem(14);
      color: $black;
      max-width: toRem(579);
      line-height: 142.857143%; /* 20/14 */

      @media (max-width: toEm(370)) {
        text-align: center;
      }
   }
}

.item-features {
   @include flex-column($align-items: flex-start);
   gap: toRem(22);

   // .item-features__item
   &__item {}
}

// ===========================================================================================
// -----------------------------
// pricing
// -----------------------------
.pricing {
   @include img-bg-cover("/src/assets/img/images/bg-pricing-img.webp");
   @include overlay($opacity:0.4);
   // .pricing__container
   &__container {}

   // .pricing__header
   &__header {
      @include adaptiveValue('margin-bottom', 99, 35);
   }

   // .pricing__items
   &__items {
      @include grid-adaptive($size: toRem(250));
      @include adaptiveValue('gap', 48, 20);

      @media (max-width: toEm(556)) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: toEm(440)) {
        grid-template-columns: 1fr;
      }
   }
}

// ===========================================================================================
// -----------------------------
// blogs
// -----------------------------
.blogs {

   // .blogs__header
   &__header {
      @include adaptiveValue('margin-bottom', 76, 35);
      .block-header__text {
         color: $black;
         max-width: toRem(779);
      }
   }

   // .blogs__body
   &__body {}

   // .blogs__slider
   &__slider {}
}

.slider-blogs {
   @include adaptiveValue('margin-bottom', 95, 40);
}

.item-blogs {

   &__inner {
      position: relative;
   }

   // .item-blogs__image
   &__image {
      aspect-ratio: 560 / 220;
      margin-bottom: toRem(7);
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .item-blogs__content
   &__content {
      color: $black;
      @include flex-column($align-items:flex-start);
      gap: toRem(8);
      text-align: left;
      padding-inline-start: percent(125,590);
      padding-inline-end: toRem(10);

      @media (max-width: toEm(800)) {
         padding-inline-start: toRem(10);
      }
   }

   // .item-blogs__title
   &__title {
      @include adaptiveValue('font-size', 18, 16);
      font-weight: 700;
      line-height: 133.333333%; /* 24/18 */
   }

   // .item-blogs__text
   &__text {
      @include adaptiveValue('font-size', 13, 11);
      line-height: 169.230769%; /* 22/13 */
   }
}

.swiper-pagination {
   &.slider-blogs__pagination {
      @include customize-bullets(
               $active-color:$black,
               $border:toRem(1),
               $inactive-border-color:$white,
               $background:$textGrey,
               $size:toRem(10),
               $gap: toRem(13),
               $sizeBefore: toRem(20)
            );
   }
}

// ===========================================================================================
// -----------------------------
// facts
// -----------------------------
.facts {

   // .facts__container
   &__container {
      display: flex;
      align-items: center;
      @include adaptiveValue('gap', 30, 15);
   }

   // .facts__content
   &__content {

   }

   // .facts__image
   &__image {
      flex: 1 1 27.016129%; /* 335/1240 */
      aspect-ratio: 335 / 532;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      @media (max-width: toEm(875)) {
         display: none;
      }
   }
}

.content-facts {
   flex: 1 1 72.983871%; /* 905/1240 */

   // .content-facts__header
   &__header {
      @include flex-column($align-items:flex-start);
      gap: toRem(15);
      @include adaptiveValue('margin-bottom', 53, 30);

      @media (max-width: toEm(629)) {
        align-items: center;
      }
   }

   // .content-facts__title
   &__title {
      @include adaptiveValue('font-size', 36, 28);
      font-weight: 700;
      line-height: 120%; /* 84/70 */
      color: $bgMainDark;
   }

   // .content-facts__text
   &__text {
      line-height: 168.75%; /* 27/16 */
      @include adaptiveValue('font-size', 16, 14);
      color: $textGrey;
      max-width: toRem(778);

      @media (max-width: toEm(629)) {
        text-align: center;
      }
   }

   // .content-facts__items
   &__items {
      @include grid-adaptive($size: toRem(290), $gap: toRem(20));
   }
}

// ===========================================================================================
// -----------------------------
// partners
// -----------------------------
.partners {

   // .partners__container
   &__container {
      @include grid-adaptive($auto: auto-fit, $size: toRem(280), $gap: toRem(26));
      align-items: center;
   }

   // .partners__item
   &__item {
      border: toRem(1) solid rgba(0, 0, 0, 0.35);
      padding-block: toRem(35);
      padding-inline: toRem(20);
      height: toRem(140);
      transition: box-shadow 0.4s ease;
      overflow: hidden;
      will-change:box-shadow;

      @include hover {
         box-shadow: 2px 3px 4px $accentOrange;
      }
   }

   &__icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
      scale: 1;

      @include hover {
      //   scale: 1.1;
      }
   }
}

// ===========================================================================================
// -----------------------------
// social-banner
// -----------------------------
.social-banner {
   background-color: $bgSecondaryDark;

   // .social-banner__container
   &__container {
      @include flex-column;
      @include adaptiveValue('gap', 34, 15);
   }

   &__title {
      @include visually-hidden;
   }

   // .social-banner__logo
   &__logo {}

   // .social-banner__text
   &__text {
      @include adaptiveValue('font-size', 15, 13);
      text-align: center;
      color: $textGrey;
      line-height: 160%; /* 24/15 */
      max-width: toRem(717);
   }

   // .social-banner__links
   &__links {
      @include flex-icons-centered($gap:toRem(16),$wrap:wrap);
   }
}

.link-social {
   @include square-icon(toRem(35));
   background-color: $greyIcons;
   @include transition;

   &::before {
      color: $white;
      font-size: toRem(18);
      @include transition;
   }

   @include hover {
     background-color: $white;
     &::before {
      color: $greyIcons;
     }
   }
}
